<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="PickupDirectory" value=".\#Pickup" />
    <add key="DropDirectory" value=".\#Drop" />
    <add key="ArchiveDirectory" value=".\#Archive" />    
    <add key="emailSummaryAddress" value="sidor@pobox.com" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.net>
      <mailSettings>
         <smtp deliveryMethod="Network" from="CashRegister &lt;sidor@pobox.com&gt;">
            <network host="" defaultCredentials="true"/>
         </smtp>
      </mailSettings>
   </system.net> 
</configuration>
