<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      
      <add key="NumberOfDenominations" value ="8"/>
      
      <add key="DenominationName0" value="twenty"/>
      <add key="DenominationName1" value="ten"/>
      <add key="DenominationName2" value="five"/>
      <add key="DenominationName3" value="one"/>
      <add key="DenominationName4" value="quarter"/>
      <add key="DenominationName5" value="dime"/>
      <add key="DenominationName6" value="nickel"/>
      <add key="DenominationName7" value="penny"/>

      <add key="DenominationNamePlural0" value="twenty dollar bills"/>
      <add key="DenominationNamePlural1" value="ten dollar bills"/>
      <add key="DenominationNamePlural2" value="five dollar bills"/>
      <add key="DenominationNamePlural3" value="dollars"/>
      <add key="DenominationNamePlural4" value="quarters"/>
      <add key="DenominationNamePlural5" value="dimes"/>
      <add key="DenominationNamePlural6" value="nickels"/>
      <add key="DenominationNamePlural7" value="pennies"/>

      <add key="DenominationValue0" value="2000"/>
      <add key="DenominationValue1" value="1000"/>
      <add key="DenominationValue2" value="500"/>
      <add key="DenominationValue3" value="100"/>
      <add key="DenominationValue4" value="25"/>
      <add key="DenominationValue5" value="10"/>
      <add key="DenominationValue6" value="5"/>
      <add key="DenominationValue7" value="1"/>
    
    </appSettings>
</configuration>