<div class="jumbotron">
  <h1 class="display-4"> {{ title }} </h1>
</div>

<div class="container">

  <div class="row">

    <div class="col-sm-6">
      <h2> Upload a file </h2>
      <div class="form-group">
        <label for="file">
          The file should contain lines consisting of the amount owed and the
          amount paid, separated by a comma.
        </label>
        <input type="file" id="file" class="form-control-file"
          accept="text/plain" (change)="submitFile($event.target.files[0])"
          aria-label="File upload">
      </div>
    </div>

    <div class="col-sm-6">

      <ng-container *ngIf="loading">
        Loading, please wait&hellip;
      </ng-container>

      <ng-container *ngIf="!loading && results != null">
        <h2 class="row"> Results </h2>
        <div class="row">
          <ul class="list-group">
            <li *ngFor="let result of results" class="list-group-item">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Owed: &nbsp; {{ result.owed }}
                </li>
                <li class="list-group-item">
                  Paid: &nbsp; {{ result.paid }}
                </li>
                <li class="list-group-item">
                  Change: &nbsp; {{ result.change }}
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </ng-container>

      <ng-container *ngIf="error">
        <h2 class="row"> Error </h2>
        <p class="row"> An error occurred. <p>
        <p class="row" *ngIf="errorMessage != null"> {{ errorMessage }} </p>
      </ng-container>

    </div>

  </div>

</div>
