################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CashRegisterEngine/.vs/CashRegisterEngine/v15/Server/sqlite3
